.span3.menuside{:style => 'margin-left:0px;width:20%;'}
  .title Menu
  %ul.menu 
    %li 
      %a{:href => "/",:style => 'color:white;text-decoration:none;'} 
        %i.icon-home.icon-white
        Home
    %li 
      %a{:href => "/teamview",:style => 'color:white;text-decoration:none;'} 
        %i.icon-flag.icon-white
        Team Work
    %li 
      %a{:href => "/report/new",:style => 'color:white;text-decoration:none;'} 
        %i.icon-plus.icon-white
        New report